/* Reseta margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos gerais */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Garante que ocupe toda a altura da tela */
    margin: 0;
  }
  
  header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  /* Estilização do formulário */
  .container {
    width: 90%; /* Para telas menores */
    max-width: 400px; /* Limita a largura em telas maiores */
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: #555;
    font-size: 0.9rem;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button {
    padding: 10px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  
  /* Responsividade */
  @media (min-width: 768px) {
    .container {
      padding: 30px;
    }
  
    input, button {
      font-size: 1.1rem;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 500px;
    }
  }
  